[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1.7"
djangorestframework = "3.14.0"
djangorestframework-simplejwt = "5.2.2"
markdown = "3.4.1"
dj-database-url = "1.2.0"
python-decouple = "3.8"
django-cors-headers = "3.14.0"
gunicorn = "20.1.0"
whitenoise = "6.4.0"
cloudinary = "1.32.0"
psycopg2-binary = "2.9.5"
pillow = "9.4.0"
django-filter = "22.1"
django-ckeditor = "*"

[dev-packages]
black = "23.1.0"
pylint = "2.17.0"
pylint-django = "2.5.3"

[requires]
python_version = "3.10"
